*, *::before, *::after {
    box-sizing: border-box;
}

.slider {
    width: 12rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}